<!-- 表单验证  -->
<!-- <app-form-test></app-form-test> -->

<!-- HTTP -->
<!-- <app-http-test></app-http-test> -->

<!-- 路由1 -->
<!-- <div>
    <nav>
        <a>Navigation</a>
        <ul>
            <li><a [routerLink]="['home']">Home</a></li>
            <li><a [routerLink]="['about']">About</a></li>
            <li><a [routerLink]="['contact']">Contact</a></li>
            <li><a [routerLink]="['/article', '1']">Article</a></li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet> -->

<!-- 路由2 -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-host-sample></app-host-sample> -->

<button (click)="toggle()">Toggle</button>

<div *appNgBookIf="display">The message is displayed</div>